@media (min-width: 279px) and (max-width: 319px){
    .header .logo {
        width: 94px;
        height: 35px;
        display: block;
        margin: 25px auto;
    }
    .cast-details {
        padding: 20px 0px;
    }
    .cast-details .name h4 {
        font-size: 30px;
        line-height: 50px;
        margin: 45px 0px 16px 0px;
    }
    .cast-details .icon {
        height: 0px;
        margin: 0px 0px 0px;
    }
    .cast-details .card .card-title {
        font-size: 6px;
        line-height: 12px;
    }
    .cast-details .card .card-text {
        font-size: 10px;
        line-height: 16px;
    }
    .cast-details .card-body ul li {
        font-size: 14px;
        line-height: 24px;
    }
    .banner{
        padding: 40px 0px;
    }
    .banner .gun {
        position: absolute;
        left: 161%;
        top: 78%;
        width: 154px;
        height: 297px;
    }
    .banner h1 {
        font-size: 25px;
        line-height: 30px;
        text-align: center;
    }
    .banner p {
        font-size: 9px;
        line-height: 13px;
        text-align: left;
        margin: 15px 0px 0px 0px;
    }
    h4 {
        font-size: 17px;
        line-height: 27px;
        margin: 0px 0px 30px 0px;
    }
    .banner .btn-success {
        padding: 8px 25px;
        border-radius: 30px;
        font-size: 12px;
        font-weight: 500;
        margin: 15px 0px 0px 0px;
    }
    .all-cast{
        padding: 40px 0px;
    }
    .all-cast h2 {
        font-size: 30px;
        line-height: 50px;
        text-align: left;
    }
    .all-cast .card-title {
        font-size: 12px;
        line-height: 16px;
    }
}
@media (min-width: 320px) and (max-width: 480px){
    .header .logo {
        width: 88px;
        height: 35px;
        display: block;
        margin: 25px auto;
    }
    .cast-details {
        padding: 20px 0px;
    }
    .cast-details .name h4 {
        font-size: 32px;
        font-weight: 600;
        line-height: 62px;
        margin: 40px 0px 32px 0px;
    }
    .cast-details .icon {
        height: 0px;
        margin: 38px 0px 0px;
    }
    .cast-details .card .card-title {
        font-size: 10px;
        font-weight: 300;
        line-height: 16px;
    }
    .cast-details .card .card-text {
        font-size: 14px;
        line-height: 18px;
    }
    .cast-details .card-body ul li {
        font-size: 18px;
        line-height: 28px;
    }
    .cast-details .menubar {
        height: 240px;
        border-radius: 5px;
    }
    .all-cast{
        padding: 40px 0px;
    }
    .all-cast h2 {
        font-size: 34px;
        line-height: 54px;
        text-align: left;
    }
    .all-cast .card-title {
        font-size: 12px;
        line-height: 16px;
    }
}
@media (min-width: 481px) and (max-width: 767px){
    .header .logo {
        width: 94px;
        height: 35px;
        display: block;
        margin: 25px auto;
    }
    .cast-details {
        padding: 20px 0px;
    }
    .cast-details .name h4 {
        font-size: 44px;
        font-weight: 600;
        line-height: 64px;
        margin: 60px 0px 45px 0px;
    }
    .cast-details .c1 {
        padding: 40px;
        margin: 40px;
    }
    .cast-details .icon {
        height: 18px;
        margin: 0px 0px 0px;
        opacity: 0;
    }
    .cast-details .card .card-title {
        font-size: 12px;
        font-weight: 500;
        line-height: 16px;
    }
    .cast-details .card .card-text {
        font-size: 18px;
        font-weight: 600;
        line-height: 34px;
    }
    .cast-details .menubar {
        height: 280px;
        border-radius: 24px;
    }
    .all-cast{
        padding: 40px 0px;
    }
    .all-cast h2 {
        font-size: 30px;
        line-height: 50px;
        text-align: left;
    }
    .all-cast .card-title {
        font-size: 12px;
        line-height: 16px;
    }  
}
@media (min-width: 768px) and (max-width: 1024px){
    .header .logo {
        width: 94px;
        height: 35px;
        display: block;
        margin: 25px auto;
    }
    .cast-details {
        padding: 20px 0px;
    }
    .banner{
        padding: 40px 0px;
        text-align: center;
    }
    .cast-details .name h4 {
        font-size: 42px;
        font-weight: 600;
        line-height: 64px;
        margin: 60px 0px 45px 0px;
    }
    .cast-details .c1 {
        padding: 60px;
        margin: 40px;
    }
    .cast-details .icon {
        height: 18px;
        margin: 0px 0px 0px;
        opacity: 0;
    }
    .cast-details .card .card-title {
        font-size: 12px;
        font-weight: 500;
        line-height: 16px;
    }
    .cast-details .card .card-text {
        font-size: 18px;
        font-weight: 600;
        line-height: 34px;
    }
    .cast-details .menubar {
        height: 280px;
        border-radius: 24px;
    }
    .all-cast{
        padding: 40px 0px;
    }
    .all-cast h2 {
        font-size: 38px;
        line-height: 58px;
        text-align: left;
    }
    .all-cast .card-title {
        font-size: 12px;
        line-height: 16px;
    } 
}